<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkitsoft.beepvending">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">
        <activity
            android:name=".Activities.ConfigActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.ProductDetail" />
        <activity
            android:name=".Activities.Receipt"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            />
        <activity
            android:name=".Activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PaymentMethod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>